* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #a48fff;
    background-image: url("/~s6/nyxie/apps/views/blog/assets/images/letters.png");
	background-attachment: fixed;
	background-position: center;
}

#add-article-container{
float: left;
    width: 80%;
    height: 90%;
    background-color: #614444;
    margin-left: 17.75%;
    margin-top: 2%;
}

#article-title-container{
	float: left;
	width: 80%;
	height: 10%;
	background-color : #bdae91;
	margin-top: 2.5%;
	margin-left: 5%;
}

#article-content-container{
	float: left;
	width: 92.5%;
	height: 60%;
	background-color : #bdae91;
	margin-left: 5%;
	margin-right: 5%;
	margin-top:2%;
}

#article-tag-container{
	float: left;
	width: 92.5%;
	height: 10%;
	background-color : #bdae91;
	margin-left: 5%;
	margin-right: 5%;
	margin-top:2%;
}

#article-image-container{
	float: left;
	width : 10%;
	height: 10%;
	background-color : white;
	margin-top: 2.5%;
	margin-left:2%;
	cursor:pointer;
}

#send-button{
	margin-top: 1%;
	margin-left:87.8%;
	width:10%;
	height: 3.5%;
}
#tag-button{
	margin-top: 1%;
	margin-left:2%;
	width:10%;
	height: 30%;
}
#title-field{
	width: 80%;
	height:70%;
	margin: 1%;
	font-size: 25px;
	text-align:center;
}
#tag-field{
	width: 60%;
	height:70%;
	margin: 1%;
	font-size: 16px;
	text-align:center;
}
#content{
	width: 100%;
	margin: 0px;
	padding : 0px;
	height:100%;
	resize: none;
	font-size:20px;
}
span{
	font-size: 33px;
	margin-left: 1%;
}