* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #a48fff;
    background-image: url("/~s6/nyxie/apps/views/blog/assets/images/letters.png");
	background-attachment: fixed;
	background-position: center;
}

#post-comment{ 
	width : 20%;
	height: 20%;
	cursor:pointer;
	margin-left :80%;
}
#post-content{
	margin-left: 17.75%;
    margin-top: 16px;
}
.post {
	background-color: #E9E8E780;
	color: #D4213D;
    border: 8px #D4213D solid;
    margin-bottom: 10px;
	width: 80%;
	font-family: verdana;
	font-weight: 900;
}

.post-author {
	padding: 8px;
    font-size: 1.5rem;
    font-weight: bold;
}

.post-description {
	padding: 8px;
    border-bottom: 1px #000000 dashed;
}


.post-date {

} 

.post-brief {
	padding: 8px;
}


