* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #a48fff;
    background-image: url("/~s6/nyxie/apps/views/blog/assets/images/letters.png");
	background-attachment: fixed;
	background-position: center;
}

input {
	width:20%;
}

#content-container{
	margin-left: 15%;
	width:60%;
	float:left;
}

#articles-list {
    margin: 45px;
	
}

.article {
	color: #D4213D;
	font-family: verdana;
    border: 8px #D4213D solid;
	background-color: #E9E8E7;
    margin-bottom: 32px;
	padding: 8px;
	box-shadow: 0px 0 14px #D4213D;
}

.article-title {
	text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.article-description {
    border-bottom: 2px #D4213D dashed;
	padding: 4px;
}

.article-category {
    float: left;
    margin-right: 5px;
}

.article-date {

}

.article-brief {
	font-weight: bold;
	padding: 8px;
	text-align: justify;
}