<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" type="text/css" href="Styles/style.css"/>
</head>
<body>
<div id="header">
    <header>
        <h1>Blogex</h1>
    </header>
</div>

<div id="container">
    <div id="menucontainer">
        <span>
            <ul id="menu">
                <li>
                    <a href="index.html">Strona główna</a>
                </li>
            </ul>
        </span>
        <span>
            <form action="../Controller/login.php" method="post" id="loginform">
                <input type="text" name="login" placeholder="Login"/></br>
                <input type="text" name="password" placeholder="Hasło"/></br>
                <input type="submit" value="Zaloguj"/>
            </form>
            <a href="register.html">Czy chcesz się zarejestrować?</a>
        </span>
    </div>

    <div id="content">
        <form action="../AddArticle.php" method="post">
            <input type="text" name="title" placeholder="Tytuł"/>
            <input type="text" name="author" placeholder="Autor"/>
            <input type="submit" value="Wyślij artykuł"/>
        </form>
    </div>
</div>
<footer>Wszelkie prawa zastrzeżone</footer>
</body>
</html>